<div id="signup-form-area">	
	<h1>Sign up</h1>
	<%= bootstrap_form_for @user do |f| %>
		<%= f.text_field :name, label: "Full Name", class: "input-field" %>
		<%= f.text_field :username, class: "input-field" %>
		<%= f.email_field :email, class: "input-field" %>
		<%= f.password_field :password, class: "input-field" %>
		<%= f.password_field :password_confirmation, class: "input-field" %>
		<%= f.submit "Create account", class: "btn btn-primary signup-btn" %>
	<% end %>
</div>