<h1>My Account</h1>
<% if @current_user %>
	<dl class="dl">
		<dt>Full Name</dt>
		<dd><%= @current_user.name %></dd>
		<br/>
		<dt>Username</dt>
		<dd><%= @current_user.username %></dd>
		<br/>
		<dt>Email</dt>
		<dd><%= @current_user.email %></dd>
		<br/>
		<dt>Password</dt>
		<dd>-</dd>
	</dl>
	<%= link_to "Edit account", "myaccount/edit", class: 'btn btn-primary' %>
	<%= link_to "Delete account", "myaccount", :method => :delete, class: 'btn btn-primary' %>
<% else %>
	<% redirect_to action: :index%>
<% end %>
