<% if @image.present? %>
	<img src="<%= @image %>" alt="business-image">
<% end %>
<h1><%= @name %></h1>
<p><%= @address %></p>
<p><%= @city %>, <%= @state %> <%= @zip %></p>

<%= form_for :place do |place| %>
	<%= place.hidden_field :place_id, value: @place_id %>
	<%= place.hidden_field :name, value: @name %>
	<%= place.hidden_field :address, value: @address %>
	<%= place.hidden_field :city, value: @city %>
	<%= place.hidden_field :state, value: @state %>
	<%= place.hidden_field :zip, value: @zip %>
	<%= place.hidden_field :image, value: @image %>
	<%= submit_tag("Rate this place") %>
<% end %>
<br />

<h1>Ratings</h1>

<% @reviews.each do |review| %>
	<% if review.place_id == review.place.id && review.place.name == @name %>
	<div class="panel panel-default">
		<div class="panel-heading">
			Submitted by <strong><%= review.user.username %></strong>
		</div>
		<div class="panel-body">
			<p>"<%= review.comments %>"</p>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.food %></span>
				Food
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.drinks %></span>
				Drinks (alcoholic and non-alcoholic)
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.service %></span>
				Service
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.atmosphere %></span>
				Atmosphere
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.gluten %></span>
				Gluten-free options
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.family %></span>
				Family-friendly
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><%= review.dog %></span>
				Dog-friendly
			</li>
		</ul>
	</div>
	<% else %>
		<p>Not yet reviewed. Be the first to review!</p>	
	<% end %>
<% end %>


